aiodns==2.0.0
aiofiles==0.6.0
aiohttp==3.7.4
aiohttp-socks==0.3.9
aiomultiprocess==0.8.0
aiorpcX==0.18.4
aiosqlite==0.16.1
aniso8601==8.1.1
apparmor==2.13.4
appdirs==1.4.4
asgiref==3.3.1
asn1crypto==1.4.0
async-timeout==3.0.1
attrs==19.3.0
Automat==20.2.0
autopep8==1.5.6
backcall==0.2.0
bcrypt==3.1.7
beautifulsoup4==4.9.1
bitstring==3.1.5
blinker==1.4
certifi==2020.6.20
chardet==3.0.4
charset-normalizer==3.0.1
click==7.1.2
click-plugins==1.1.1
colorama==0.4.3
configobj==5.0.6
constantly==15.1.0
cryptography==3.3.2
cupshelpers==1.0
dbus-python==1.2.16
decorator==4.4.2
defusedxml==0.7.1
distlib==0.3.1
distro==1.5.0
Django==3.1.7
djangorestframework==3.14.0
dnspython==2.0.0
ecdsa==0.15
Electrum==4.0.2
evdev==1.4.0
fastapi==0.63.0
filelock==3.0.12
Flask==1.1.2
Flask-HTTPAuth==3.2.4
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.5.1
geographiclib==1.52
gpg===1.14.0-unknown
graphene==2.1.7
graphql-core==2.2.1
graphql-relay==2.0.0
greenlet==1.1.1
h11==0.12.0
helpdev==0.7.1
html5lib==1.1
httpie==3.2.1
httplib2==0.18.1
hyperlink==19.0.0
idna==2.10
importlib-metadata==1.6.0
incremental==17.5.0
instagram-private-api==1.6.0.0
ipython==7.20.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.2
jsonschema==3.2.0
jupyter-core==4.7.1
LibAppArmor==2.13.6
limits==1.5.1
lxml==4.6.1
markdown-it-py==2.2.0
MarkupSafe==1.1.1
mate-menu==20.4.1
mate-tweak==20.4.0
mdurl==0.1.2
mechanize==0.4.5
mock==4.0.2
more-itertools==4.2.0
msgpack==1.0.0
multidict==5.1.0
mutagen==1.44.0
nbformat==5.1.2
netaddr==0.7.19
netifaces==0.10.9
nyx==2.1.0
olefile==0.46
onboard==1.4.1
onioncircuits==0.6
onionshare==2.2
orjson==0.0.0
parso==0.8.1
pbr==5.5.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.2
playsound==1.2.2
plotly==4.14.3
prettytable==0.7.2
promise==2.2
prompt-toolkit==3.0.14
protobuf==3.12.4
psutil==5.8.0
pyaes==1.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycairo==1.16.2
pycares==3.1.1
pycodestyle==2.7.0
pycountry==19.8.18
pycrypto==2.6.1
pycryptodomex==3.9.7
pycups==2.0.1
pycurl==7.43.0.6
pydantic==1.7.4
pyee==7.0.2
Pygments==2.14.0
PyGObject==3.38.0
PyHamcrest==1.9.0
pyinotify==0.9.6
pynput==1.7.6
pynvim==0.4.2
pyOpenSSL==19.1.0
pyppeteer==0.2.5
PyQt5==5.15.2
PyQt5-sip==12.8.1
pyrsistent==0.15.5
PySimpleSOAP==1.16.2
pysmbc==1.0.23
PySocks==1.6.8
python-apt==2.1.7
python-debian==0.1.38
python-debianbts==3.0.2
python-xlib==0.27
pytz==2021.1
pyxattr==0.7.2
pyxdg==0.26
PyYAML==5.3.1
QDarkStyle==2.8.1
qrcode==6.1
QtPy==1.9.0
redis==3.5.3
reportbug==7.7.0
requests==2.24.0
requests-toolbelt==0.9.1
retrying==1.3.3
rich==13.3.2
Rx==3.1.1
scapy==2.4.4
service-identity==18.1.0
setproctitle==1.2.1
shodan==1.25.0
simplejson==3.17.2
six==1.15.0
slowapi==0.1.4
soupsieve==2.0.1
SQLAlchemy==1.4.23
sqlparse==0.4.1
starlette==0.14.1
stem==1.7.1
texttable==1.6.3
theHarvester==4.0.0
toml==0.10.2
torbrowser-launcher==0.3.2
tqdm==4.57.0
traitlets==5.0.5
Twisted==20.3.0
typing-extensions==3.7.4.3
ufw==0.36
urllib3==1.25.11
uvicorn==0.13.3
uvloop==0.14.0
vboxapi==1.0
virtualenv==20.4.3
wcwidth==0.1.9
webencodings==0.5.1
websockets==8.1
Werkzeug==1.0.0
wsproto==0.15.0
XlsxWriter==1.1.2
yarl==1.6.3
youtube-dl==2020.6.16.1
zipp==1.0.0
zope.interface==5.2.0
